<%= link_to "Sign Up", 'users/new' %>

<% unless signed_in? %>
  <%= link_to "Login", 'sessions/new' %>
<% end %>

<% if signed_in? %>
  <%= link_to "Logout", 'sessions/destroy' %>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% if @posts %>
  <%= partial 'posts/post', collection: @posts %>
<% end %>