<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Padrino Blog App Example | Andrew Stelmach</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='container'>
      <%= link_to "Sign Up", 'users/new' %>

      <% unless signed_in? %>
        <%= link_to "Login", 'sessions/new' %>
      <% end %>

      <% if signed_in? %>
        <%= link_to "Logout", 'sessions/destroy' %>
      <% end %>

      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
      <footer>
      <p>Created by <%= link_to 'Andrew Stelmach', 'http://github.com/yorkshireman/' %></p>
      </footer>
    </div>
  </body>
</html>